---
extends: standard
env:
  jasmine: true
  browser: true
rules:
  comma-dangle:
    - 2
    - always-multiline
  no-multiple-empty-lines:
    - 2
    - max: 2
  padded-blocks: 0

  # Relax camelcase rule: modules and services are NOT camelcase.
  camelcase: 0

  # Disable arrow-parens rule, since Standard isn't CLEAR about what it wants.
  arrow-parens: 0
