<div>

  <p>
    <button @click="toggleShow()">Toggle: {{ show }}</button>
    <translate v-if="show">Welcome %{ firstname }</translate>
  </p>

  <div>
    <p>
      <button @click="setName1()">1</button>
      <button @click="setName2()">2</button>
      <button @click="setName3()">3</button>
      [{{ obj.name }}]
    </p>
    <p v-if="obj.name === 'Group1'" v-translate='obj.name'>This is %{ obj.name }</p>
    <p v-if="obj.name === 'Group2'" v-translate='obj.name'>This is %{ obj.name }</p>
    <p v-if="obj.name === 'Group3'" v-translate='obj.name'>This is %{ obj.name }</p>
  </div>

</div>
